<{include file="header.htm"}>
<style>
.b_d {border-bottom:1px dashed #ccc;}
</style>
<div class="container">
<div style="text-align:center">
 <div style="width:600px;text-align:center;height:300px;background:url(./images/homebg.jpg) no-repeat left center;margin-left:50px;">
   <table width="60%" border="0" style="margin-top:90px;">
     <tr>
       <td height="41" class="b_d"><img src="images/icon_add.gif" /> 添加文章</td>
       <td class="b_d"><img src="images/icon_view.gif" />查看文章</td>
     </tr>
     <tr>
       <td height="36" class="b_d">&nbsp;</td>
       <td class="b_d">&nbsp;</td>
     </tr>
     <tr>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
   </table>
 </div>
 </div>
</div>
</body></html>