<{include file="header.htm"}>
<script type="text/javascript" charset="utf-8" language="javascript" src="libs/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
       KE.show({
           id : 'content_1',
		   cssPath : './libs/kindeditor/index.css'
       });
   </script>
    <script src="js/ajaxupload.3.2.js" type="text/javascript"></script>
<script type= "text/javascript">/*<![CDATA[*/
$(document).ready(function(){

	/* example 1 */
	var button = $('#button1'), interval;
	var i = 0;
	new Ajax_upload(button,{
		//action: 'upload-test.php', // I disabled uploads in this example for security reasons
		action: 'upload.php', 
		name: 'picfile',
		onSubmit : function(file, ext){
			// change button text, when user selects file			
			button.text('Uploading');
			// If you want to allow uploading only 1 file at time,
			// you can disable upload button
			this.disable();
			if (ext && /^(jpg|png|jpeg|gif)$/.test(ext)){
				/* Setting data */
				this.setData({
					'key': 'This string will be send with the file'
				});
			} else {
				// extension is not allowed
				alert("不是图片格式，不允许上传");
				// cancel upload
				this.enable();
				return false;				
			}
			
			// Uploding -> Uploading. -> Uploading...
			interval = window.setInterval(function(){
				var text = button.text();
				if (text.length < 13){
					button.text(text + '.');					
				} else {
					button.text('Uploading');				
				}
			}, 200);
		},
		onComplete: function(file, response){
			button.text('Upload');
						
			window.clearInterval(interval);
						
			// enable upload button
			this.enable();
			eval('myjson=' + response + ';');
			// add file to the list
			//$('<li></li>').appendTo('#example1 .files').html("<div id='filecontent'><img src='icon/" + myjson.filetype + ".gif'> <img src=" + myjson.picaddress + "></div>");	
			$('#picaddress').val(myjson.picaddress);		
			$('#picinfo').html("<img src='images/icon/" + myjson.filetype + ".gif'>标题图片上传成功").css({color:"#ff0000"});	
							
		}
	});
	
	new Ajax_upload('#button2',{
		//action: 'upload-test.php', // I disabled uploads in this example for security reasons
		action: 'upload.php', 
		name: 'picfile',
		onComplete: function(file, response){		
			// enable upload button
			this.enable();
			i++;
			eval('myjson=' + response + ';');
			$("#fileext").val(myjson.picaddress);
			$('<td></td>').appendTo('#files').text("<ol><img src='images/icon/" + myjson.filetype + ".gif'><a href='" + myjson.picaddress + "'>附件" + i + "</a></ol>");
			$('<td></td>').appendTo('#filelist').html("<img src='images/icon/" + myjson.filetype + ".gif'><a href='" + myjson.picaddress + "'> 附件" + i + "</a><br>" );	
		}
	});
	
});/*]]>*/
</script>
<div class="container">
    <{if $errormsg}>
    <div class="errormsg"> <{$errormsg}> </div>
    <{/if}>
    <form action="admin.php?m=article&a=edit" method="post" enctype="multipart/form-data" name="form1" id="form1">
	<input type="hidden" name="articleid" value="<{$articleid}>">
    <table width="96%" cellspacing="0" cellpadding="0" class="tb">
    <tr>
        <td colspan="5" class="tb_head">添加文章 *为必填</td>
    </tr>
    <tr>
        <td width="80">所属栏目</td>
        <td colspan="4"><{$cat_select}> * 选择最小分类</td>
    </tr>
        <tr>
        <td width="80">文章标题</td>
          <td colspan="4">
            <label>
            <select name="typeid">
              <option value="0">分类</option>
              <option value="1">推荐</option>
              <option value="2">热点</option>
              <option value="3">注意</option>
            </select>
            </label>
            <input name="title" type="text" id="title" class='required' 
				title='文章标题不能为空' alt="{event: 'blur'}" size="41" value="<{$title}>" />
            标题颜色
            <select name="tcolor" id="tcolor" >
	<option value="" >颜色</option>
	<option value="#000000"  style="background-color:#000000; align:center" ></option>
	<option value="#ffffff"  style="background-color:#ffffff; align:center" ></option>
	<option value="#008000"  style="background-color:#008000; align:center" ></option>
	<option value="#800000"  style="background-color:#800000; align:center" ></option>
	<option value="#808000"  style="background-color:#808000; align:center" ></option>
	<option value="#000080"  style="background-color:#000080; align:center" ></option>
	<option value="#800080"  style="background-color:#800080; align:center" ></option>
	<option value="#808080"  style="background-color:#808080; align:center" ></option>
	<option value="#ffff00"  style="background-color:#ffff00; align:center" ></option>
	<option value="#00ff00"  style="background-color:#00ff00; align:center" ></option>
	<option value="#00ffff"  style="background-color:#00ffff; align:center" ></option>
	<option value="#ff00ff"  style="background-color:#ff00ff; align:center" ></option>
	<option value="#ff0000"  style="background-color:#ff0000; align:center" ></option>
	<option value="#0000ff"  style="background-color:#0000ff; align:center" ></option>
	<option value="#008080"  style="background-color:#008080; align:center" ></option>
</select></td>
    </tr>
        <tr>
        <td width="80">文章作者</td>
          <td colspan="4"><input name="author" type="text" id="author" size="50" value="<{$author}>" />
          多个作者空格分开</td>
    </tr>
        <tr>
        <td width="80">是否显示</td>
          <td width="100">
		  <{if $status == 1}>
		  <input name="status" type="radio" id="radio" value="1" checked="checked" />是<input type="radio" name="status" id="radio2" value="0" />否
		  <{else}>
		  <input name="status" type="radio" id="radio" value="1" />是<input type="radio" name="status" id="radio2" value="0" checked="checked" />否
		  <{/if}>		   </td>
          <td width="130">推荐 
            <label>
			<{if $is_commend == 1}>
            <input name="is_commend" type="checkbox" id="is_commend" value="1" checked="checked"/>
			<{else}>
			<input name="is_commend" type="checkbox" id="is_commend" value="1"/>
		  <{/if}>          </label></td>
          <td width="437">置顶 <label>
		  <{if $top_flag == 1}>
            <input name="top_flag" type="checkbox" id="top_flag" value="1" checked="checked"/>
			<{else}>
			<input name="top_flag" type="checkbox" id="top_flag" value="1"/>
			<{/if}>
          </label> </td>
          <td width="397">发布时间：
   	      <input name="created" type="text" id="created" size="22" onclick="showcalendar();" value="<{$created}>"/></td>
        </tr>
        <tr>
          <td width="80"></td>
          <td colspan="4"></td>
        </tr>
        <tr>
        <td width="80">跳转地址</td>
        <td colspan="4"><label>
          <input name="url" type="text" id="url" size="50" value="<{$url}>"/>
          如果需要链接到其他的页面请填写此项
        </label></td>
    	</tr>
        <tr>
        <td width="80">内容标签tag</td>
          <td colspan="4"><input name="keywords" type="text" id="keywords" size="50" value="<{$keywords}>"/>            
          多个用空格分开</td>
    </tr>
                <tr>
        <td width="80">标题图片</td>
          <td colspan="4">
          <input name="picaddress" type="input" id="picaddress" size="64" value="<{$thumb}>"/> <div id="button1" class="upload">上传标题图片</div><div id="picinfo" style="width:150px;padding-left:10px;float:left;"></div></td>
            </tr>
        <tr>
        <td width="80" height="39">文章摘要</td>
          <td colspan="4"><textarea name="summary" id="summary" cols="80" rows="3"><{$summary}></textarea></td>
    </tr>
            <tr>
        <td width="80">文章内容</td>
          <td colspan="4">
          <textarea id="content_1" name="content" class="required" title="文章内容不能为空" style="width:700px;height:300px;visibility:hidden;"><{$content}></textarea></td>
            </tr>
			<tr>
        <td width="80">添加附件</td>
          <td colspan="2"><input name="upfile" type="button" class="upload"  id="button2" value="上传附件"/>             </td>
			<td><textarea name = "exts" cols="60" rows="5" id="files"></textarea></td>
			<td><div id="filelist" style="float:left;width:300px;line-height:22px;"></div></td>
			</tr>
			<tr>
        <td width="80">文章来源</td>
          <td colspan="4"><input name="source" type="text" id="source" size="50" value="<{$source}>"/></td>
			</tr>
                        <tr>
        <td height="37" colspan="5" align="center"><input class="button" type="submit" name="addtraincontent" id="addtraincontent" value="发布文章" />
           <input type="reset"  class="button"  name="button2" id="button2" value="重新填写" /></td>
          </tr>
    </table>
    </form>
</div>