<{include file="header.htm"}>
<{if $action == 'ls'}>
<script language="javascript">
$(document).ready(function(){
	
	$("#catname").blur(function(){
		var cat_name = $("#catname").attr("value");
		$.post("?m=ajax&a=pinyin",{"cstr":cat_name},function(data){
			var catdir = $("#catdir").val();
			if(!catdir){
				$("#catdir").val(data);
			}
		
		});
	});
	
	$("#form2").submit(function(){
		var cat_name = $("#catname").val();
		var catdir = $("#catdir").val();
		if(cat_name == ""){
			alert("栏目部能为空");
			return false;
		}else if(catdir == "") {
			alert("栏目目录不能为空");
			return false;
		}
		return true;
	});

});
</script>
<div class="container">
    <table width="96%" class="tb">
      <tr>
        <td colspan="4" class="tb_head">产品分类列表</td>
      </tr>
      <tr>
        <th width="40" height="24">编号</th>
        <th width="132">栏目名称</th>
        <th>操作</th>
      </tr>
      <{foreach from=$cats item = ls}>
            <tr>
        <td height="23"><{$ls.catid}></td>
        <td align="left"><{if $ls.parentid == 0 }><img src="images/spread.gif" /><{else}><img src="images/shrink.gif" /><{/if}><{$ls.depth_line}> <{$ls.catname}></td>
        <td align="left"><a href="?m=calling&a=editindex&id=<{$ls.catid}>">编辑</a> | <a href="?m=calling&a=del&id=<{$ls.catid}>">删除</a> <{if $ls.haschilds == 0}> | <a href="admin.php?m=product&a=add&cid=<{$ls.catid}>">添加产品</a><{/if}></td>
      </tr>
      <{/foreach}>
    </table>
    <form id="form2" name="form2" method="post" action="admin.php?m=calling&a=save">
    <table width="96%" class="tb">
      <tr>
        <td colspan="2" class="tb_head">添加栏目</td>
      </tr>
      <tr>
        <td>分类名称</td>
        <td><input name="catname" type="text" id="catname" value=""/><font color="red">*填写分类名称</font></td>
      </tr>
      <tr>
        <td>分类关键字</td>
        <td><input name="keywords" type="text" id="keywords" /></td>
      </tr>
      <tr>
        <td>分类描述</td>
        <td><label>
          <textarea name="description" id="description" cols="60" rows="3"></textarea>
        </label></td>
      </tr>
       <tr>
        <td>分类顺序</td>
        <td><input name="sort" type="text" id="sort" /></td>
      </tr>
	  <tr>
        <td>分类目录名称</td>
        <td><input name="catdir" type="text" id="catdir" /><font color="red">*必须用英文，用来静态化存放文件的目录</font></td>
      </tr>
      <tr>
        <td height="64">&nbsp;</td>
        <td><label>
          <input type="submit" name="submit" id="submit" value="添加产品分类" />
        </label></td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </form>
</div>
<{elseif $action == 'editindex'}>
<div class="container">
  <form id="form2" name="form2" method="post" action="admin.php?m=calling&a=edit">
  <input type="hidden" name="catid" value="<{$catid}>">
    <table width="96%" class="tb">
      <tr>
        <td colspan="2" class="tb_head">编辑分类</td>
      </tr>

      <tr>
        <td>栏目名称</td>
        <td><input name="catname" type="text" id="catname" value="<{$catname}>"/></td>
      </tr>
      <tr>
        <td>栏目关键字</td>
        <td><input name="keywords" type="text" id="keywords" value="<{$seo_keywords}>"/></td>
      </tr>
      <tr>
        <td>栏目描述</td>
        <td><label>
          <textarea name="description" id="description" cols="60" rows="3"><{$seo_description}></textarea>
        </label></td>
      </tr>
       <tr>
        <td>显示顺序</td>
        <td><input name="sort" type="text" id="sort" value="<{$listorder}>"/></td>
      </tr>
      <tr>
        <td height="64">&nbsp;</td>
        <td><label>
          <input type="submit" name="submit" id="submit" value="修改产品分类" />
        </label></td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </form>
</div>
<{/if}>