<{include file="header.htm"}>
<script>
$().ready(function(){
$("#title").focus(function(){
$(this).val("");
});
});
</script>
<div class="container">
<div class="operatebox">
<filedset>
  <legend><img src="./images/sendpm.gif" width="16" height="16" /> 搜索 [不填写标题 按栏目搜索]</legend>
  <form id="form2" name="form2" method="post" action="admin.php?m=article&a=search">
    <table width="100%" border="0" class="tb">
      <tr>
        <td width="73">所属栏目</td>
        <td width="142"><{$cat_select}></td>
        <td width="77">文章标题</td>
        <td width="229"><label>
          <input name="title" type="text" id="title" size="32"  value="<{$title}>"/>
        </label></td>
        <td width="458"><label>
          <input type="submit" name="button" id="button" value="查询" />
        </label></td>
      </tr>
    </table>
  </form>
  <p>&nbsp;</p>
  </filedset>
</div>
    <table width="96%" class="tb">
      <tr>
        <td colspan="9" class="tb_head">栏目列表</td>
      </tr>
      <tr>
        <th width="28" >选择</th>
		<th width="38" height="24">编号</th>
        <th width="60">频道</th>
        <th>文章标题</th>
		<th width="60">发布人</th>
		<th width="70">发布时间</th>
		<th width="30">浏览</th>
		<th width="30">状态</th>
        <th width="120">操作</th>
      </tr>
      <{if $nullmsg}>
      <tr><td colspan="9"><{$nullmsg}></td></tr>
      <{else}>
      <{foreach from=$arts item = ls}>
      <tr>
	    <td><input type="checkbox" name="artarr[]" value="<{$ls.articleid}>" /></td>
        <td height="23" align="center"><{$ls.articleid}></td>
        <td align="center" class="channel"><{$ls.channelid}></td>
        <td align="left"> [<{$ls.catname}>] <font color="<{$ls.tcolor}>"><a href="article.php?q=d&id=<{$ls.articleid}>" target="_blank"><{$ls.title}></a></font><{if $ls.is_commend == 1}><img src="images/agree.gif" alt="推荐"><{/if}> <{if $ls.top_flag == 1}><img src="images/notice.gif" alt="置顶"><{/if}> <{if $ls.thumb}><img  src="images/attachimg.gif" alt="标题图片"/><{/if}></td>
		<td align="center"><{$ls.username}></td>
		<td><{$ls.created|date_format:"%y-%m-%d"}></td>
		<td align="center"><{$ls.clicks}></td>
		<td align="center"><{if $ls.status == 1}><img src="images/check_right.gif"> <{else}> <img src="images/check_error.gif"><{/if}></td>
        <td align="right"><a href="<{$ls.article_url}>" target="_blank">查看</a> | <a href="?m=article&a=editindex&id=<{$ls.articleid}>">编辑</a> | <a href="?m=article&a=del&id=<{$ls.articleid}>" onclick="if(confirm('你确定要删除该文章吗，删除后无法恢复') == true){return true;} else {return false;}">删除</a></td>
      </tr>
      <{/foreach}>
      <{/if}>
  </table>
  <{$mutipage}>
</div>