<{include file="header.htm"}>
<div class="container">
<div class="operatebox">
  <p><img src="./images/icon_add.gif" width="16" height="16" /> <a href="admin.php?m=down&a=addindex">添加下载</a></p>
</div>
    <table width="96%" class="tb">
      <tr>
        <td colspan="6" class="tb_head"><img src="./images/title_head.gif" />栏目列表</td>
      </tr>
      <tr>
        <th width="28" >选择</th>
		<th width="38" height="24">编号</th>
        <th>下载标题</th>
		<th width="80">发布时间</th>
		<th width="80">下载次数</th>
        <th width="120">操作</th>
      </tr>
      <{if $nullmsg}>
      <tr><td colspan="6"><{$nullmsg}></td></tr>
      <{else}>
      <{foreach from=$downs item = ls}>
      <tr>
	    <td><input type="checkbox" name="artarr[]" value="<{$ls.downid}>" /></td>
        <td height="23" align="center"><{$ls.downid}></td>
        <td align="left"> <font color="<{$ls.tcolor}>"><a href="down.php?q=d&id=<{$ls.downid}>" target="_blank"><{$ls.title}></a></font></td>
		<td><{$ls.created|date_format:"%y-%m-%d"}></td>
		<td><{$ls.downtime}></td>
        <td align="right"><a href="down.php?q=d&id=<{$ls.articleid}>">查看</a> | <a href="?m=down&a=editindex&id=<{$ls.downid}>">编辑</a> | <a href="?m=down&a=del&id=<{$ls.downid}>"  onclick="if(confirm('你确定要删除该下载吗，删除后无法恢复') == true){return true;} else {return false;}">删除</a></td>
      </tr>
      <{/foreach}>
      <{/if}>
  </table>
  <{$mutipage}>
</div>