<{include file="header.htm"}>
<script type="text/javascript" charset="utf-8" language="javascript" src="libs/kindeditor/kindeditor.js"></script>
<script src="js/jquery.crayonbox.js" type="text/javascript"></script>
<script type="text/javascript">
       KE.show({
           id : 'content_1',
		   cssPath : './libs/kindeditor/index.css'
       });
   </script>
   <script src="js/ajaxupload.3.2.js" type="text/javascript"></script>
<script type= "text/javascript">/*<![CDATA[*/
$(document).ready(function(){

	/* example 1 */
	var button = $('#button1'), interval;
	var i = 0;
	new Ajax_upload(button,{
		//action: 'upload-test.php', // I disabled uploads in this example for security reasons
		action: 'upload.php', 
		name: 'picfile',
		onSubmit : function(file, ext){
			// change button text, when user selects file			
			button.text('Uploading');
			// If you want to allow uploading only 1 file at time,
			// you can disable upload button
			this.disable();
			if (ext && /^(jpg|png|jpeg|gif)$/.test(ext)){
				/* Setting data */
				this.setData({
					'key': 'This string will be send with the file'
				});
			} else {
				// extension is not allowed
				alert("不是图片格式，不允许上传");
				// cancel upload
				this.enable();
				return false;				
			}
			
			// Uploding -> Uploading. -> Uploading...
			interval = window.setInterval(function(){
				var text = button.text();
				if (text.length < 13){
					button.text(text + '.');					
				} else {
					button.text('Uploading');				
				}
			}, 200);
		},
		onComplete: function(file, response){
			button.text('Upload');
						
			window.clearInterval(interval);
						
			// enable upload button
			this.enable();
			eval('myjson=' + response + ';');
			// add file to the list
			//$('<li></li>').appendTo('#example1 .files').html("<div id='filecontent'><img src='icon/" + myjson.filetype + ".gif'> <img src=" + myjson.picaddress + "></div>");	
			$('#picaddress').val(myjson.picaddress);		
			$('#picinfo').html("<img src='images/icon/" + myjson.filetype + ".gif'>标题图片上传成功").css({color:"#ff0000"});	
							
		}
	});
	
	new Ajax_upload('#button2',{
		//action: 'upload-test.php', // I disabled uploads in this example for security reasons
		action: 'upload.php', 
		name: 'picfile',
		onComplete: function(file, response){		
			// enable upload button
			this.enable();
			i++;
			eval('myjson=' + response + ';');
			$("#fileext").val(myjson.picaddress);
			$('<td></td>').appendTo('#files').text("<ol><img src='images/icon/" + myjson.filetype + ".gif'><a href='" + myjson.picaddress + "'>附件" + i + "</a></ol>");
			$('<td></td>').appendTo('#filelist').html("<img src='images/icon/" + myjson.filetype + ".gif'><a href='" + myjson.picaddress + "'> 附件" + i + "</a><br>" );	
		}
	});
$('#tcolor').crayonbox();	
});/*]]>*/
</script>
	<style type="text/css"> 
.crayon {color: #000;width:200px; 
cursor: pointer; 
border: 1px solid #333; 
float: left; 
font-family: Fixed, monospace; 
margin: 1px; text-align: center; 
width: 1em; } 
	</style> 

<div class="container">
    <{if $errormsg}>
    <div class="errormsg"> <{$errormsg}> </div>
    <{/if}>
    <form action="admin.php?m=juhui&a=add" method="post" enctype="multipart/form-data" name="form1" id="form1">
	
    <table width="96%" cellspacing="0" cellpadding="0" class="tb">
    <tr>
        <td colspan="4" class="tb_head">添加聚会 *为必填</td>
    </tr>
        <tr>
        <td width="88">聚会标题</td>
          <td colspan="3">
            <input name="title" type="text" id="title" class='required' 
				title='标题不能为空' alt="{event: 'blur'}" size="41" maxlength="60"/></td>
    </tr>
        <tr>
        <td width="88">是否通过</td>
          <td width="100"><input name="switch" type="radio" id="switch" value="1" checked="checked" />
            是
            <input type="radio" name="switch" id="switch" value="0" />
          否 </td>
          <td width="65"><label></label></td>
          <td>置顶 
            <label><input type="checkbox" name="top_flag" id="top_flag" value="1"/>
          </label> </td>
        </tr>
        <tr>
          <td width="88"></td>
          <td colspan="3"></td>
        </tr>
                <tr>
        <td width="88">聚会时间</td>
          <td colspan="3"><input name="created" type="text" id="created" size="22"  value="<{$time}>"/></td>
            </tr>
            <tr>
        <td width="88">聚会描述</td>
          <td colspan="3">
          <textarea id="content_1" name="content"  style="width:700px;height:300px;visibility:hidden;"></textarea></td>
            </tr>
                        <tr>
        <td height="37" colspan="4" align="center"><input class="button" type="submit" name="addtraincontent" id="addtraincontent" value="发布聚会" />
           <input type="reset"  class="button"  name="button2" id="button2" value="重新填写" /></td>
          </tr>
    </table>
    </form>
</div>