<{include file="header.htm"}>
<div class="container">
  <form id="form1" name="form1" method="post" action="?m=setting&a=update">
    <table width="96%" class="tb">
      <tr>
        <td colspan="2" class="tb_head">基本设置</td>
      </tr>
      <tr>
        <td width="108">站点名称</td>
        <td width="1199"><input name="sitename" type="text" id="sitename" size="48" /></td>
      </tr>
      <tr>
        <td>网站域名</td>
        <td><input name="domain" type="text" id="domain" size="48" /></td>
      </tr>
      <tr>
        <td>关键字</td>
        <td><input name="keyword" type="text" id="keyword" size="48" /></td>
      </tr>
      <tr>
        <td>网站描述</td>
        <td><input name="description" type="text" id="description" size="48" /></td>
      </tr>
      <tr>
        <td>网站开关</td>
        <td><label>
          <input name="webswitch" type="radio" id="radio" value="1" checked="checked" />
          开
          <input name="webswitch" type="radio" id="radio" value="0" />
          关闭
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label>
          <input type="submit" name="Submit" value="提交" />
        </label></td>
      </tr>
    </table>
    <table width="96%" class="tb">
      <tr>
        <td colspan="2" class="tb_head">其他设置</td>
      </tr>
      <tr>
        <td width="155">是否使用水印</td>
        <td width="433"><input name="webswitch" type="radio" id="radio3" value="1" checked="checked" />
开
  <input name="webswitch" type="radio" id="radio3" value="0" />
关闭</td>
      </tr>
      <tr>
        <td>水印类型</td>
        <td><input name="domain2" type="text" id="domain2" size="48" /></td>
      </tr>
      <tr>
        <td>水印文字</td>
        <td><input name="keyword2" type="text" id="keyword2" size="48" /></td>
      </tr>
      <tr>
        <td>水印图片</td>
        <td><input name="description2" type="text" id="description2" size="48" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>禁止ip</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>禁止ip段</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </form>
</div>